#navbar bg-body-tertiary{
    background-color: black;
}
.index-table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
}

.btn{
    display: flex;
    flex-direction: row;
   
}

.form{
    display: flex;
    flex-direction: row;
}